@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;800&display=swap');
:root{
    /*fonts*/
    --font-family: 'Figtree', sans-serif;
    --font-weight-Regular-400:400;
    --font-weight-ExtraBol-800:800 ;
    --font-size: 16px;
    /*color*/
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 50%);
    --Black: hsl(0, 0%, 7%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: var(--font-size);
    font-family: var(--font-weight-Regular-400);
    height: 100vh;
    width: 100vw;
    background-color: var(--Yellow);
    font-size: var(--font-size);
}
.container{
    background-color: var(--White);
    width: 380px;
    height: 510px;
    border-radius: 20px;
    transform :translate(-50%,-50%);
    position:fixed;
    top:50%;
    left: 50%;
    padding: 25px 20px;
    border:1px solid black;
    box-shadow: 13px 11px 0px -2px rgba(0,0,0,1);
-webkit-box-shadow: 13px 11px 0px -2px rgba(0,0,0,1);
-moz-box-shadow: 13px 11px 0px -2px rgba(0,0,0,1);
}
img{
    border-radius: 15px;
    display: block;
}
button{
    padding: 5px 12px;
    margin: 18px auto;
    font-weight: var(--font-weight-ExtraBol-800);
    background-color: var(--Yellow);
    border: none;
    border-radius: 3px;
    font-family: var(--font-family);
    font-size: var(--font-size);
}
h5{
    font-family: var(--font-family);
   color: var(--Black);
   font-size: var(--font-size);
   font-weight: var(--font-weight-Regular-400);
   
}
h1{
    font-weight: var(--font-weight-ExtraBol-800);
    font-family: var(--font-family);
    font-size: 25px;
    margin: 15px auto;
    cursor: pointer;
}
h1:hover{
    color: var(--Yellow);
}
p{
    color: var(--Grey);
    font-family: var(--font-family);
    font-size:var(--font-size);
    font-weight: var(--font-weight-Regular-400);

}
.profile{
    display: flex;
    margin: 15px auto;
    gap: 0.8rem;
   margin: 15px auto;
}
.prsn_img>img{
    width: 30px;
}
.prsn_name p{
color: var(--Black);
font-weight: var(--font-weight-ExtraBol-800);
font-family: var(--font-family);
font-size: 15px;
margin-top: 6px;

}
@media (max-width: 400px){
    .container{
        width: 310px;
        height: 460px;
    }
   .container> img{
width: 100%;
    }
    h1{
        font-size: 20px;
    }
}


